---
import type { EducationItem } from '@/features/resume/resume.types'

import EducationIcon from '@lucide/astro/icons/brain'

import Section from '@/features/resume/components/ui/Section.astro'

export interface Props {
  education: EducationItem[]
}

const { education } = Astro.props
---

<Section
  title="Education"
  items={education}
  icon={EducationIcon}
>
  <template slot="item">
    {
      (item: EducationItem) => (
        <>
          {item.studyType}
          {item.area ? `${item.area} ` : ''}— {item.institution}
        </>
      )
    }
  </template>
</Section>
