---
import type { BasicsItem } from '@/features/resume/resume.types'

import GlobeIcon from '@lucide/astro/icons/globe'
import MailIcon from '@lucide/astro/icons/mail'

export interface Props {
  basics: BasicsItem
}

const { basics } = Astro.props

const { email, intro, label: subtitle, name: title, website } = basics || {}
---

<header class="">
  <h1 class="mb-0">
    <a
      class="no-underline hover:underline"
      href="/"
    >
      {title}
    </a>
  </h1>

  {subtitle && <blockquote>{subtitle}</blockquote>}

  <dl class="not-prose mt-4">
    {
      website && (
        <>
          <dt class="sr-only">Website</dt>
          <dd class="flex items-center gap-2">
            <GlobeIcon class="size-4 text-primary-600 dark:text-primary-400" />
            <code>
              <a href={website}>{website}</a>
            </code>
          </dd>
        </>
      )
    }

    {
      email && (
        <>
          <dt class="sr-only">Email</dt>
          <dd class="flex items-center gap-2">
            <MailIcon class="size-4 text-primary-600 dark:text-primary-400" />
            <code>
              <a href={`mailto:${email}`}>{email}</a>
            </code>
          </dd>
        </>
      )
    }
  </dl>

  {intro && <p>{intro}</p>}
</header>
