---
import type { BasicsItem } from '@/features/resume/resume.types'

import GlobeIcon from '@lucide/astro/icons/globe'
import BriefcaseIcon from '@lucide/astro/icons/handshake'
import MailIcon from '@lucide/astro/icons/mail'

import GithubIcon from '@/components/Icons/Github.astro'

export interface Props {
  basics: BasicsItem
}

const icons = {
  email: MailIcon,
  github: GithubIcon,
  linkedin: BriefcaseIcon,
  website: GlobeIcon,
} as const

const { basics } = Astro.props

const { email, intro, label: subtitle, name: title, profiles, website } = basics || {}

const linkList = [
  {
    icon: icons.email,
    label: 'Email',
    url: email,
  },
  {
    icon: icons.website,
    label: 'Website',
    url: website,
  },
  ...(profiles?.map((profile) => ({
    icon: icons[profile?.network?.toLowerCase() as keyof typeof icons],
    label: profile?.network,
    url: profile?.url,
  })) || []),
]

const introParagraphs = intro?.split('\n\n').map(paragraph => paragraph.trim()).filter(Boolean)
---

<header>
  <div class="flex flex-col sm:flex-row gap-4 sm:items-baseline print:flex-col print:items-start justify-between">
    <h1 class="mb-0 flex-shrink-0">
      <a
        class="not-prose no-underline hover:underline"
        href="/"
      >
        {title}
      </a>
    </h1>

    <dl class="not-prose flex flex-wrap gap-x-3 sm:gap-x-5 print:block">
      {linkList.map((link) => (
        <dt class="sr-only">{link.label}</dt>
        <dd class="flex items-center gap-2">
          <link.icon class="size-4" />
          <a class="print:hidden" href={link.label === 'Email' ? `mailto:${link.url}` : link.url}>{link.label}</a>
          <code class="hidden print:block  print:text-xs">{link.url}</code>
        </dd>
      ))}
    </dl>
  </div>

  {subtitle && <h2 class="mt-12 mb-4 font-semibold print:mt-6" set:html={subtitle} />}

  {introParagraphs?.map(paragraph => <p set:html={paragraph} />)}
</header>
