---
import Layout from '@/layouts/Layout.astro'
import Prose from '@/pages/resume/components/ui/Prose.astro'

import Header from './components/Header.astro'
import Skills from './components/Skills.astro'
import Experience from './components/Experience.astro'
import Awards from './components/Awards.astro'
import Education from './components/Education.astro'
import Personal from './components/Personal.astro'
import Footer from './components/Footer.astro'
import PrintButton from './components/ui/PrintButton.astro'
import type {
  AwardsData,
  BasicsData,
  EducationData,
  ExperienceData,
  PersonalData,
  SkillsData,
} from './types'

const base = new URL(Astro.request.url)
const fetchJson = (path: string) => fetch(new URL(path, base)).then((r) => r.json())

const resume: Record<string, unknown> = await fetchJson('/api/resume.json')

if (!resume) {
  throw new Response('Failed to fetch resume', { status: 500 })
}

const awards: AwardsData = resume.awards
const basics: BasicsData = resume.basics
const education: EducationData = resume.education
const experience: ExperienceData = resume.experience
const personal: PersonalData = resume.personal
const skills: SkillsData = resume.skills
---

<Layout
  title="Resume"
  bodyClass="bg-white text-primary-900 dark:bg-primary-900 dark:text-primary-50"
>
  <main class="px-4 py-6">
    <PrintButton class="fixed top-4 right-4 dark:shadow" />

    <Prose
      as="article"
      class="mx-auto dark:prose-invert"
    >
      <Header basics={basics} />

      <Skills skills={skills} />
      <Experience experience={experience} />
      <Awards awards={awards} />
      <Education education={education} />
      <Personal personal={personal} />

      <Footer />
    </Prose>
  </main>
</Layout>
