---
import { render } from 'astro:content'

import Entry from '@/components/Entry/Entry.astro'
import { getPublishedPages } from '@/features/pages/pages.server'
import Layout from '@/layouts/Layout.astro'
import Main from '@/layouts/Main.astro'

export async function getStaticPaths() {
  const pages = await getPublishedPages()

  return pages.map((page) => ({
    params: { slug: page.id },
    props: { page },
  }))
}

const { page } = Astro.props

if (!page) {
  return new Response(null, { status: 404 })
}

const { description, image, imageAlt, seo, subtitle, title } = page.data
const { Content } = await render(page)

const seoTitle = seo?.title || title
const seoDescription = seo?.description || page.rendered?.html || description
---

<Layout
  title={seoTitle}
  description={seoDescription}
  contentType="page"
>
  <Main>
    <Entry
      description={description}
      image={image}
      imageAlt={imageAlt}
      subtitle={subtitle}
      title={title}
    >
      <Content />
    </Entry>
  </Main>
</Layout>
