---
import Layout from '@/layouts/Layout.astro'
import Entry from '@/components/Entry.astro'
import Main from '@/layouts/Main.astro'
import { render } from 'astro:content'
import { getPublishedPages } from '@/utils/content/pages'

// Generate static paths for all identity pages
export async function getStaticPaths() {
  const pages = await getPublishedPages()

  return pages.map((page) => ({
    params: { slug: page.id },
    props: { page },
  }))
}

const { page } = Astro.props
const { description, image, imageAlt, subtitle, title } = page.data
const { Content } = await render(page)
---

<Layout
  title={`${title} - Luke McDonald`}
  description={description}
  contentType="page"
>
  <Main>
    <Entry
      description={description}
      image={image}
      imageAlt={imageAlt}
      subtitle={subtitle}
      title={title}
    >
      <Content />
    </Entry>
  </Main>
</Layout>
