---
import Layout from '@/layouts/Layout.astro'
import Main from '@/layouts/Main.astro'
import { getEntry, render } from 'astro:content'
import Entry from '@/components/Entry.astro'

const entry = await getEntry('index', 'index')

if (!entry) {
  return new Response(null, { status: 404 })
}

const { description, image, imageAlt, subtitle, title } = entry.data
const { Content } = await render(entry)
---

<Layout
  title="Luke McDonald"
  description="I'm Luke, a Christian, husband, father and wrestling coach living in beautiful Eastern Iowa. My tent making is as a full-stack developer with an eye for design."
>
  <Main>
    <Entry
      description={description}
      image={image}
      imageAlt={imageAlt}
      subtitle={subtitle}
      title={title}
    >
      <Content />
    </Entry>
  </Main>
</Layout>
