---
import { getEntry, render } from 'astro:content'

import Entry from '@/components/Entry/Entry.astro'
import Layout from '@/layouts/Layout.astro'
import Main from '@/layouts/Main.astro'

const page = await getEntry('pages', 'index')

if (!page) {
  return new Response(null, { status: 404 })
}

const { description, image, imageAlt, seo, subtitle, title } = page.data

const seoTitle = seo?.title || title
const seoDescription = seo?.description || page.rendered?.html || description

const { Content } = await render(page)
---

<Layout
  title={seoTitle}
  description={seoDescription}
>
  <Main>
    <Entry
      description={description}
      image={image}
      imageAlt={imageAlt}
      subtitle={subtitle}
      title={title}
    >
      <Content />
    </Entry>
  </Main>
</Layout>
