---
import type { MetaData } from '@/utils/meta'

import '@/styles/global.css'

import { GLOBAL_CONFIG } from '@/configs/global'
import Head from '@/layouts/Head.astro'

type Theme = 'default' | 'blue' | 'purple' | 'yellow' | 'green' | 'orange' | 'neon'

export interface Props extends MetaData {
  bodyClass?: string
  theme?: Theme
}

const { generator, props, site, url } = Astro

const canonicalUrl = new URL(url.pathname, site ?? url).href

const {
  author = GLOBAL_CONFIG.author,
  bodyClass,
  dir = GLOBAL_CONFIG.dir,
  lang = GLOBAL_CONFIG.lang ?? 'en',
  theme = 'default',
  title = GLOBAL_CONFIG.name,
  ...siteMeta
} = props

const meta: MetaData = {
  author,
  canonicalUrl,
  dir,
  lang,
  title,
  ...siteMeta,
}
---

<!doctype html>
<html
  dir={dir}
  lang={lang}
  data-theme={theme}
>
  <Head
    generator={generator}
    meta={meta}
  />

  <body class={bodyClass}>
    <slot />
  </body>
</html>
