---
interface BasicsItem {
  email?: string
  intro?: string
  label?: string
  name: string
  website?: string
}

interface Props {
  basics: BasicsItem
}

const { basics } = Astro.props

const { email, intro, label: subtitle, name: title, website } = basics || {}
---

<header>
  <h1>{title}</h1>

  {subtitle && <p>{subtitle}</p>}

  <p>
    {website && <a href={website}>{website}</a>}
    {website && email && ' — '}
    {email && <a href={`mailto:${email}`}>{email}</a>}
  </p>

  {intro && <p>{intro}</p>}
</header>
